
@media screen and (min-width: 960px) {
  .md-nav-bar {
    margin-left: 9px;
  }
}

@media screen and (max-width: 959px) {
  .md-nav-bar {
    margin-left: 16px;
  }
}

@media screen and (min-width: 600px) {
  md-card md-card-title {
    max-height: 32px;
  }
}

.npcList {
  margin-left: 15px;
}

.mainCard {
  margin-right: 20px;
  margin-top: 20px;
  min-height: 699px;
}

md-input-container {
  margin: 1px 0px 1px 0px;
}

table {
  border: 1px solid white;
  margin-bottom: 20px;
  min-width: 90px;
}

th, td {
  padding: 4px;
}

.score {
  text-align: right;
}

.updateRow {

}

md-switch {
  margin-top: 9px;
  margin-bottom: 7px;
}

md-switch .md-container {
  margin-left: 15px;
}

.update {
  margin-left: 20px;
  margin-bottom: 2px;
}

#generate {
  margin-left: 24px;
}

#oneRound {
  margin-left: 24px;
}
