/** {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}*/

/*body {
  background-color: magenta;
}*/

.mainCard {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  /*max-width: 50%;*/
}

md-input-container {
  margin: 1px 0px 1px 0px;
}

table {
  border: 1px solid white;
  margin-bottom: 20px;
  min-width: 90px;
}

th, td {
  padding: 4px;
}

.score {
  text-align: right;
}
