
<md-button id="generate" class="md-raised md-primary" ng-click="addnpc.generate()">Generate NPC</md-button>

<div class="npcList">
  <md-card class="mainCard">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">New NPC</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <md-input-container class="md-block" flex-gt-sm="100">
        <label>Name</label>
        <input ng-model="addnpc.newnpc.name">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm="100">
        <label>Level</label>
        <input ng-model="addnpc.newnpc.level">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm="100">
        <label>Class</label>
        <input ng-model="addnpc.newnpc.class">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm="100">
        <label>Hit Points</label>
        <input ng-model="addnpc.newnpc.maxhp">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm="100">
        <label>Armor Class</label>
        <input ng-model="addnpc.newnpc.ac">
      </md-input-container>

      <table>
        <tr>
          <td>Str</td>
          <td class="score" ng-hide="addnpc.npc.ex_str">{{addnpc.newnpc.str}}</td>
          <td class="score" ng-show="addnpc.npc.ex_str">{{addnpc.newnpc.str}}/{{npc.ex_str}}</td>
        </tr>
        <tr>
          <td>Int</td><td class="score">{{addnpc.newnpc.int}}</td>
        </tr>
        <tr>
          <td>Dex</td><td class="score">{{addnpc.newnpc.dex}}</td>
        </tr>
        <tr>
          <td>Con</td><td class="score">{{addnpc.newnpc.con}}</td>
        </tr>
        <tr>
          <td>Wis</td><td class="score">{{addnpc.newnpc.wis}}</td>
        </tr>
        <tr>
          <td>Cha</td><td class="score">{{addnpc.newnpc.cha}}</td>
        </tr>
      </table>

      <md-input-container class="md-block" flex-gt-sm="100">
        <label>Items</label>
        <input ng-model="addnpc.newnpc.items">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm="100">
        <label>Spells</label>
        <input ng-model="addnpc.newnpc.spells">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm="100">
        <label>Notes</label>
        <input ng-model="addnpc.newnpc.notes">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm="100">
        <label>Dialogue</label>
        <input ng-model="addnpc.newnpc.dialogue">
      </md-input-container>
      <md-button class="md-raised md-primary" ng-click="addnpc.add(addnpc.newnpc)">Add NPC</md-button>
    </md-card-content>
  </md-card>
</div>
